<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeatMap</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/HeatMap.css') }}">
</head>
<body>
    <header>
        <a class="logo">  CareCureMeds</a>
        <nav>
            <ul>
                <li><a href="{{url_for('Home')}}" class="active1">Home</a></li>
                <li><a href="{{url_for('HeatMap')}}" class="active2">Hospital Rating HeatMap</a></li>
                <li><a href="{{url_for('search')}}" class="active4">Search for Hospitals</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h1>Hospital Rating Heatmap</h1>
        <div class="heatmap">
            <embed type="text/html" src="{{ url_for('static', filename='templates/RatingHeatMap.html') }}" width="1200px" height="650px">
        </div>
    </div>
</body>
</html>